<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-fw fa-shield" aria-hidden="true"></i> ตั้งค่าบัญชี</div>
                <div class="panel-body">
                    <form name="ProfileForm" class="form-horizontal">

                        <div ng-bind-html="ProfileAlert"></div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Username:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" disabled value="{{Profile.username}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">ชื่อ - สกุล:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="Profile.fullname" required name="fullname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">เบอร์โทรศัพท์:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="Profile.tel" required name="tel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Line ID:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="Profile.line" required name="line">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" class="btn btn-success" ng-click="SaveProfile()"><i class="fa fa-floppy-o" aria-hidden="true"></i> บันทึก</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-fw fa-key"></i> เปลี่ยนรหัสผ่าน</div>
                <div class="panel-body">
                    <form name="passwordForm" class="form-horizontal">

                        <div ng-bind-html="PasswordAlert"></div>

                        <div class="form-group" ng-class="formError.old?'has-error':'no-error'">
                            <label class="col-md-4 control-label">รหัสผ่านเดิม:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" ng-model="password.old" required name="old" required>
                                <span ng-show="formError.old" class="control-label">{{formErrorText.old}}</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="formError.new?'has-error':'no-error'">
                            <label class="col-md-4 control-label">รหัสผ่านใหม่:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" ng-model="password.new" required name="new" minlength="8" maxlength="16" required>
                                <span ng-show="formError.new" class="control-label">{{formErrorText.new}}</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="formError.confirm?'has-error':'no-error'">
                            <label class="col-md-4 control-label">ยืนยันรหัสผ่านใหม่:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" ng-model="password.confirm" required name="confirm" required>
                                <span ng-show="formError.confirm" class="control-label">{{formErrorText.confirm}}</span>
                            </div>
                        </div>

                        <div ng-show="isAvailableChangePassword" class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="button" class="btn btn-success" ng-click="ChangePassword()"><i class="fa fa-floppy-o" aria-hidden="true"></i> เปลี่ยนรหัสผ่าน</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>