<div class="row" style="margin-top: 20px;">
	<div class="col-lg-6">
		<div class="panel panel-default" style="border-radius: 0px;" ui-view>
			<div class="panel-body">
				<form class="form-inline">					
					<div style="margin-top: 15px;">
						<div class="form-group" style="margin-right: 15px;">
							<div class="radio">
							  	<label>
							    	<input type="radio" name="date_range" ng-model="$parent.date_range" value="today"> วันนี้
							  	</label>
							</div>
					  	</div>

					  	<div class="form-group" style="margin-right: 15px;">
							<div class="radio">
							  	<label>
							    	<input type="radio" name="date_range" ng-model="$parent.date_range" value="yesterday"> เมื่อวาน
							  	</label>
							</div>
					  	</div>

					  	<div class="form-group" style="margin-right: 15px;">
							<div class="radio">
							  	<label>
							    	<input type="radio" name="date_range" ng-model="$parent.date_range" value="this-week"> สัปดาห์นี้ (จันทร์ - อาทิตย์)
							  	</label>
							</div>
					  	</div>

					  	<div class="form-group">
							<div class="radio">
							  	<label>
							    	<input type="radio" name="date_range" ng-model="$parent.date_range" value="last-week"> สัปดาห์ที่แล้ว (จันทร์ - อาทิตย์)
							  	</label>
							</div>
					  	</div>
					</div>

					<div style="margin-top: 15px;">
						<div class="form-group" style="margin-right: 15px;">
							<label style="font-weight: normal; cursor: pointer;">
						    	<input type="radio" name="date_range" ng-model="$parent.date_range" value="month"> เดือน 
						    	<select class="form-control" ng-model="$parent.selected_month">
						    		<option ng-repeat="month in report_month" value="{{ month.n }}">{{ month.name }}</option>
						    	</select>
						  	</label>
					  	</div>
					</div>

					<div style="margin-top: 15px;">
						<div class="form-group" style="margin-right: 15px;">
						  	<label style="font-weight: normal; cursor: pointer;">
						    	<input type="radio" name="date_range" ng-model="$parent.date_range" value="to-date"> ตั้งแต่ 
						  	</label>
					  	</div>
					  	<div class="form-group" style="margin-right: 15px;">
							<label style="font-weight: normal;">วันที่</label>
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="$parent.filters.from" is-open="$parent.isOpenDatePopup" datepicker-options="$parent.DateOption" ng-click="$parent.toggleOpenDatePopup()" ng-focus="$parent.toggleOpenDatePopup()" readonly>
					  	</div>
					  	<div class="form-group" style="margin-right: 15px;">
							<label style="font-weight: normal;">ถึงวันที่</label>
							<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="$parent.filters.to" is-open="$parent.isCloseDatePopup" datepicker-options="$parent.DateOption" ng-click="$parent.toggleCloseDatePopup()" ng-focus="$parent.toggleCloseDatePopup()" readonly>
					  	</div>
					</div>
				</form>
			</div>
			<div class="panel-footer text-right">
				<button type="button" class="btn btn-primary" style="display: unset;" ng-click="searchReport()"><i class="fa fa-search" aria-hidden="true"></i> ค้นหา</button>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
	</div>
</div>