.auth-panel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-switch {
    margin-top: -7px;
}

.sp {
    margin-top: 4px;
    margin-bottom: 12px;
}

.reload-captcha {
    cursor: pointer;
}

.footer {
    text-align: center;
    margin: 20px;
}

.success {
    color: green;
}

.success a {
    cursor: pointer;
}

.panel-heading {
    font-size: 120%;
}