<ol class="breadcrumb" style="margin-bottom: 0px;">
	<li ui-sref-active="active"><a ui-sref="setting">ตั้งค่า</a></li>
    <li class="active">ตั้งค่ารับของ</li>
</ol>

<div class="alert alert-warning" style="margin-top: 15px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> กรุณาใส่จำนวนเงินที่ท่านต้องการถือสู้ของหวย <strong style="color: red">ต่อตัว</strong> ของแต่ละประเภทลงในช่องด้านล่าง เพื่อเปิดรับของ หากไม่ต้องการถือสู้ในประเภทใด ๆ ให้ใส่ 0</div>

<div>
	<form class="form-inline">
	  	<div class="form-group">
	    	<label>กรอกเท่ากัน</label>
	    	<input type="text" class="form-control" input-number ng-model="allInput">
	  	</div>
	  	<button class="btn btn-default" ng-click="allSubmit()">ยืนยัน</button>
	</form>
</div>

<table class="table table-bordered table-hover" style="margin-top: 15px; width: auto;" ng-repeat="(group, lottery) in Lotteries">
	<thead>
		<tr>
			<th class="alert-success" colspan="{{ lottery.length }}"><i class="fa fa-cog" aria-hidden="true"></i> {{ lottery.lottery_type | lotteryGroup }}</th>
		</tr>
		<tr>
			<th class="text-center" ng-repeat="(key, value) in lottery.limit_option">{{ key | lotteryOptionName }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="120" ng-repeat="(key, value) in lottery.limit_option">
				<input type="text" class="form-control text-right" ng-model="Lotteries[group].limit_option[key]" input-number>
			</td>
		</tr>
	</tbody>
	<!--<tfoot>
		<tr>
			<td colspan="{{ lottery.length }}">
				<button class="btn btn-success" ng-click="saveLimit(group)">บันทึก</button>
			</td>
		</tr>
	</tfoot>-->
</table>

<button class="btn btn-success btn-lg" ng-click="saveLimit()">บันทึก</button>