<div ui-view class="container-fluid box-lottery">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <a ui-sref="lottery.lao">
                <div class="well well-sm text-center" ng-class="Lotteries.lao.status.user_status=='open' ? 'box-lottery-open' : 'box-lottery-close'">
                    <h3 style="font-size:18px; font-weight: 600; margin:5px 0px;">หวยลาว</h3>
                    <hr style="margin:15px 0px;">
                    <div ng-if="Lotteries.lao!=null">
                        <p>งวด {{ Lotteries.lao.name }}</p>
                        <p>ปิดรับ : {{ Lotteries.lao.close_date }}</p>
                        <p>
                            <h2>{{ LaoLotteryCountdown }}</h2>
                        </p>
                    </div>
                    <div ng-if="Lotteries.lao==null">
                        <p>
                            <h2>ปิดรับแทง</h2>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6">
            <a ui-sref="lottery.hanoi">
                <div class="well well-sm text-center" ng-class="Lotteries.hanoi.status.user_status=='open' ? 'box-lottery-open' : 'box-lottery-close'">
                    <h3 style="font-size:18px; font-weight: 600; margin:5px 0px;">หวยเวียดนาม ฮานอย</h3>
                    <hr style="margin:15px 0px;">
                    <div ng-if="Lotteries.hanoi!=null">
                        <p>งวด {{ Lotteries.hanoi.name }}</p>
                        <p>ปิดรับ : {{ Lotteries.hanoi.close_date }}</p>
                        <p>
                            <h2>{{ HanoiLotteryCountdown }}</h2>
                        </p>
                    </div>
                    <div ng-if="Lotteries.hanoi==null">
                        <p>
                            <h2>ปิดรับแทง</h2>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>